# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
.nuget/
nuget.exe

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache

# NuGet Packages
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# MSBuild
*.log
msbuild.binlog

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Mac
.DS_Store

# Web publish
*.Publish.xml
*.azurePubxml
*.pubxml
!**/PublishProfiles/*.pubxml
PublishScripts/

# NuGet
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode
.JustCode

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Coverlet
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS
$tf/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio
__pycache__/
*.pyc

# Node.js
node_modules/

# Web workbench
.sass-cache/

# Installshield
[Ee]xpress/

# DocProject
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once
publish/

# SQL Server files
*.mdf
*.ldf
*.ndf

# BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Entity Framework
*.edmx.diagram

# LocalDB
*.localdb

# IIS
wwwroot/

# Others
*.VisualState.xml
TestResult.xml

# Build Cake
tools/**
!tools/packages.config

# Backup
*.bak
*.backup

# Temporary files
*~
*.swp
*.swo

# IDE Settings
.vscode/
